body{
    text-align: center;
    background-color: beige;
}
table,th,td{
    border: 1px solid black;
    border-radius: 10px;
}
td,th{
    width: 150px;
    text-align: center;
}
#grandfathers_messages{
    list-style-type: square;
}
#fathers_messages{
    list-style-type: disc;
}
ul, ol{
    text-align: left;
}
h1{
    font-family: cursive;
}